/* Element seletor */
body {
    background-color: rgb(37, 185, 204);
    font-family: Cursive;
    padding-bottom: 20px;
    margin: 0;
}
/* class selector */
.introduction {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    margin: 20px;
    padding: 10px;
}
/* universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* group selector */
h1, p, ul {
    margin: 20px;
    padding: 10px;
}
/* id selector */
h1 {
    color: rgb(10, 10, 12);
    text-align: center;
    font-size: 40px;
    padding: 20px;
    border-radius: 10px;
}
p {
    font-size: 18px;
    text-align: start;
    color: rgb(0, 0, 0);
    color: darkslategray;
}
ul {
    list-style-type: square;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    padding-left: 20px;
}
li {
    margin-bottom: 10px;
}
li:hover {
    color: rgb(143, 27, 7);
}
img {
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transition: box shadow 0.3s ease;
    margin: 20px auto;
}
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}